<div class="flex py-2">
  <div class="flex flex-col items-center gap-2">
    <%= render "users/avatar_with_preview", user: comment.user %>
    <div class="w-0.5 bg-gray-200 grow"></div>
  </div>
  <div class="pl-2 w-full">
    <%= render "comments/comment_header", comment:, current_user: %>
    <%= turbo_frame_tag dom_id(comment) do %>
      <div>
        <%= comment.content %>
      </div>
    <% end %>
    <%= render "comments/interact", comment:, current_user: %>
    <%= turbo_frame_tag dom_id(comment, :comment_form) %>
    <div class="space-y-2 divide-y divide-gray-200" id="<%= dom_id(comment, :comments) %>">
      <% comment.comments.includes(:user, :rich_text_content).order(id: :desc).each do |comment| %>
        <%= render "comments/comment_reply", comment:, current_user: %>
      <% end %>
    </div>
  </div>
</div>
