<%= turbo_frame_tag "comment_form_#{dom_id(commentable)}" do %>
  <div class="flex w-full px-4 pt-4">
    <div class="flex flex-col items-center gap-2 shrink-0">
      <%= avatar_tag commentable.user, class: "w-10 h-10 rounded-full" %>
      <div class="w-0.5 bg-gray-200 grow"></div>
    </div>

    <div class="pl-2 w-full">
      <span class="block font-semibold">
        <%= commentable.user_email.split("@").first %>
      </span>
      <p class="line-clamp-2">
        <%= commentable.is_a?(Post) ? commentable.title : commentable.content.to_plain_text %>
      </p>
    </div>
  </div>
  <div class="flex w-full p-4">
    <div class="flex flex-col items-center gap-2">
      <%= avatar_tag current_user, class: "w-10 h-10 rounded-full" %>
    </div>
    <%= form_for comment,
                 url: commentable.is_a?(Post) ? post_comments_path(commentable) : comment_comments_path(commentable),
                 html: {
                   class: "grow pl-2 w-full",
                 } do |f| %>
      <div class="w-full flex justify-between">
        <a href="#user" class="block font-semibold hover:underline">
          <%= current_user.email.split("@").first %>
        </a>
      </div>
      <div class="comment_content">
        <%= f.rich_text_area :content %>
      </div>
      <div class="flex gap-1 mt-2">
        <%= f.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
        <button type="button" data-action="click->show-modal#close" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Cancel</button>
      </div>
    <% end %>
  </div>
<% end %>
