<%= turbo_frame_tag "comment_form_#{dom_id(post)}" do %>
  <div class="p-4 rounded-md flex">
    <img class="w-10 h-10 rounded-full" src="<%= avatar_placeholder_url(current_user) %>" alt="Rounded avatar">
    <%= form_for comment,
                 url: post_comments_path(post),
                 html: {
                   class: "grow px-4",
                 } do |f| %>
    <div class="w-full flex justify-between">
      <a href="#user" class="block font-semibold hover:underline">
        <%= current_user.email.split("@").first %>
      </a>
    </div>
    <div class="comment_content">
      <%= f.rich_text_area :content %>
    </div>
    <div class="flex gap-2 mt-2">
      <%= f.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
  <% end %>
</div>
<% end %>
