<div class="flex flex-col gap-4 p-6">
  <div class="flex justify-between items-center mb-2">
    <div>
      <h2 class="text-xl font-bold"><%= user.email %></h2>
      <p class="text-gray-600"><%= user.email.split("@").first %></p>
    </div>
    <img class="w-16 h-16 md:w-20 md:h-20 rounded-full" src="<%= avatar_placeholder_url(user) %>" alt="Rounded avatar">
  </div>

  <div>
    <%= FFaker::Lorem.sentence %>
  </div>

  <div class="flex gap-4 justify-between">
    <p class="text-gray-400 text-sm">
      <%= pluralize(rand(1..100), "follower") %>
    </p>
  </div>
  <button class="w-full py-2 px-3 text-sm font-medium bg-white border border-gray-300 rounded-xl text-center mb-4">
    Edit profile
  </button>
</div>
