<div class="flex flex-col gap-4 p-6">
  <div class="flex justify-between items-center mb-2">
    <div>
      <h2 class="text-xl font-bold"><%= user.email %></h2>
      <p class="text-gray-600"><%= user.name %></p>
    </div>
    <%= avatar_tag user, class: "w-16 h-16 md:w-20 md:h-20 rounded-full" %>
  </div>

  <div>
    <%= user.bio %>
  </div>

  <div class="flex gap-4 justify-between">
    <%= render "users/follower_count", user: %>
  </div>
  <% if current_user.id != user.id %>
    <% if current_user.following?(user) %>
      <%= render "follows/unfollow_button", user: %>
    <% else %>
      <%= render "follows/follow_button", user: %>
    <% end %>
  <% else %>
    <%= link_to "Edit Profile",
                edit_profile_path,
                data: { turbo_frame: :modal },
                class: "w-full py-2 px-3 text-sm font-medium bg-white border border-gray-300 rounded-xl text-center" %>
  <% end %>
</div>
