<%= render "shared/modal_container" do %>
  <div class="flex flex-col items-start p-6 min-w-[380px]">
    <div data-show-modal-target="close"></div>
    <%= link_to user_path(@user), data: { turbo_frame: "_top" }, class: "flex items-center justify-between w-full cursor-pointer" do %>
        <div class="flex flex-col">
          <h2 class="text-2xl font-bold"><%= @user.name %></h2>
          <p class="text-gray-600"><%= @user.name %></p>
        </div>
        <%= avatar_tag @user, class: "w-10 h-10 md:w-16 md:h-16 rounded-full" %>
      <% end %>

    <p class="text-gray-800 mt-4"><%= FFaker::Lorem.word %></p>
    <%= render "users/follower_count", user: @user %>
    <% if current_user.following?(@user) %>
      <%= render "follows/unfollow_button", user: @user %>
    <% else %>
      <%= render "follows/follow_button", user: @user %>
    <% end %>
  </div>
<% end %>
