<div class="my-4" id="<%= dom_id(post, :comments_section) %>">
  <span class="font-semibold text-lg px-4">
    Comments
  </span>

  <% if post.comments.empty? %>
    <p class="text-gray-500 px-4">No comments yet</p>
  <% end %>

  <% if current_user %>
    <%= link_to "Add a comment", new_post_comment_path(post), data: { turbo_frame: :modal }, class: "ml-4 block w-fit text-left rounded-md px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white" %>
  <% else %>
    <%= link_to "Login to comment", new_user_session_path, class: "ml-4 block w-fit text-left rounded-md px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
  <% end %>
</div>

<div class="border-t flex flex-col divide-y divide-gray-200" id="<%= dom_id(post, :comments) %>">
  <% post.comments.includes(:rich_text_content, user: :avatar_attachment).order(id: :desc).each do |comment| %>
    <%= render "comments/comment", comment: %>
  <% end %>
</div>
