<div class="w-full grow flex p-4 rounded-3xl rounded-b-none bg-white border overflow-y-auto">
  <%= form_for post, html: { class: "w-full" } do |f| %>
    <div class="flex items-center gap-2">
      <%= avatar_tag current_user, class: "w-10 h-10 rounded-full" %>
      <a href="#user" class="block font-semibold hover:underline">
        <%= current_user.email.split("@").first %>
      </a>
    </div>
    <div class="mt-2">
      <%= f.label :title, class: "sr-only" %>
      <%= f.text_area :title, class: "w-full h-12 ring-0 border-0 focus:ring-0 p-0 overflow-hidden text-xl font-bold", placeholder: "Enter post's title...", data: { controller: "text-auto-expand" } %>
    </div>

    <div data-controller="tag-input">
      <div class="mt-2 flex items-center gap-1">
        <%= f.label :tag_list, class: "mb-1" %>
        <label>
          <input type="text"
                 autocomplete="none"
                 data-tag-input-target="input"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="Enter tag">
        </label>
        <%= f.hidden_field :tag_list,
                           data: {
                             "tag-input-target": "field",
                           } %>
      </div>
      <ul data-tag-input-target="container" class="mt-2 flex flex-wrap items-center text-xs font-medium">
      </ul>
    </div>

    <div class="w-full mt-2">
      <%= f.label :content %>
      <%= f.rich_text_area :content, class: "w-full" %>
    </div>
    <div class="flex gap-2 mt-2">
      <%= f.button :status,
                   value: :draft,
                   data: {
                     action: "click->editor#saveData",
                   },
                   class: "py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" do %>
        Save Draft
      <% end %>
      <%= f.button :status,
                   value: :published,
                   data: {
                     action: "click->editor#saveData",
                   },
                   class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" do %>
        Post
      <% end %>
    </div>
  <% end %>
</div>
