<div class="flex" id="<%= dom_id(post, :interact) %>">
  <%= render "posts/button_like", post:, current_user: %>

  <%= render "posts/button_comment", post: %>

  <%= render "posts/button_repost", post: %>

  <%= render "posts/button_instant_repost", post: %>
</div>
