<div data-controller="post-click" data-action="click->post-click#goto" data-post-click-url-value="<%= post_path(post) %>" class="flex gap-2 w-full px-3 py-2 bg-white dark:bg-gray-800 last:border last:border-gray-200">
  <div>
    <img class="w-6 h-6 rounded-full" src="https://avatar.iran.liara.run/public/<%= post.user_id % 101 %>" alt="Rounded avatar">
  </div>
  <div>
    <div class="w-full flex justify-between">
      <a href="#user" class="block font-semibold hover:underline childLink">
        <%= post.user_email.split("@").first %>
      </a>
    </div>
    <div>
      <a href="#post">
        <%= post.title %>
      </a>

      <%= render "interact", post: %>
    </div>
  </div>
</div>
