<div class="grow flex p-4 rounded-lg border overflow-x-auto">
  <img class="w-10 h-10 rounded-full" src="https://avatar.iran.liara.run/public/<%= post.user_id % 101 %>" alt="Rounded avatar">
  <div class="px-4 w-full">
    <div class="w-full flex justify-between">
      <a href="#user" class="block font-semibold hover:underline">
        <%= post.user_email.split("@").first %>
      </a>
    </div>
    <h2 class="font-bold text-xl">
      <%= post.title %>
    </h2>
    <div class="mt-4 py-2 border-y w-full">
      <%= render Editor::Component.new post.body %>
    </div>
  </div>
  <div data-controller="dropdown" data-dropdown-placement-value="bottom">
    <div data-dropdown-target="trigger" class="p-1 rounded-full hover:bg-gray-200">
      <svg fill="#000000" class="w-4 h-4" viewBox="0 0 32 32" enable-background="new 0 0 32 32" id="Glyph" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M13,16c0,1.654,1.346,3,3,3s3-1.346,3-3s-1.346-3-3-3S13,14.346,13,16z" id="XMLID_294_"></path>
          <path d="M13,26c0,1.654,1.346,3,3,3s3-1.346,3-3s-1.346-3-3-3S13,24.346,13,26z" id="XMLID_295_"></path>
          <path d="M13,6c0,1.654,1.346,3,3,3s3-1.346,3-3s-1.346-3-3-3S13,4.346,13,6z" id="XMLID_297_"></path>
        </g>
      </svg>
    </div>
    <div
        data-dropdown-target="dropdown"
        class="z-20 border hidden bg-white divide-y divide-gray-200 rounded-lg w-44 dark:bg-gray-700">
      <ul class="p-2 text-gray-900 dark:text-gray-200">
        <li>
          <%= link_to edit_post_path(post), class: "block rounded-md px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
            Edit
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
