<!DOCTYPE html>
<html>
  <head>
    <title>RailsThreads</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application", data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag "application" %>
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
  </head>
  <body data-controller="toast-provider" class="bg-gray-100 scroll-smooth">
    <%= render "shared/toast_container" %>
    <%= render "layouts/navigation" %>

    <div class="md:ml-20 flex justify-center">
      <div class="max-w-2xl w-full h-screen pb-[72px] md:pb-0">
        <%= yield %>
      </div>
    </div>

    <%= turbo_frame_tag "modal" %>
  </body>
</html>
